.subbutton {
    border-radius: 5px;
    background-color: #383838;
}
.m-3 {
    font-weight: bold;
}

.video-card-horizontal {
    display: flex;
    justify-content: center;
    max-width: 1400px;
}